 <table>
     <p>予約一覧</p>
      <thead>
        <tr>
      
           <th>金額</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>人数</th>
          <th>予約確定時間</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
      
          <th><%= reservation.money%></th>
          <th><%= reservation.start %></th>
          <th><%= reservation.end %></th>
          <th><%= reservation.num %></th>
          <th><%= reservation.created_at.to_s(:datetime_jp) %></th>
          </tr>
       <% end %> 
      </tbody>
   </table>
    




 