<!DOCTYPE html>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<html>
  <head>
    <title>Rails6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  
    <header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>  
       
      <div class="menu-content">
 
         
      <ul>
         <% if @current_user %>
          <li>
            <a href="http://localhost:3000/tops"id="top-photo"> TOP</a> 
          </li>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("予約ルーム一覧", "/posts") %>
          </li>
          <li>
            <%= link_to("ルーム登録", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users") %>
          </li>
           </li>
          <li>
            <%= link_to("予約一覧", "/reservations") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
         </ul>
      </div>
        </div>
         </header>
      
     <div calss="search">
      　<%= search_form_for @search do |f| %>
　　　　　    <%= f.label :room_or_address_or_introduce_cont_any, "検索",class: 'input-text'%>
　　　　　    <%= f.search_field :room_or_address_or_introduce_cont_any,{placeholder: "エリア"}%>
　　　　　    <div class="actions"><%= f.submit "検索" ,class: 'input-text'%></div>
　　　　　<% end %>
          <%= search_form_for @search do |f| %>
　　　　　    <%= f.label :fe_matches, "検索",class: 'input-text'%>
　　　　　    <%= f.number_field :fe_matches ,{placeholder: "金額"}%>
　　　　　    <div class="actions"><%= f.submit "検索",class: 'input-text' %></div>
　　　　　<% end %>
 

　　　　　

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>